<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>Festas & Glamour</title>


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />    
    <!-- Font-Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="~/vendors/swiper/swiper.css" />
    <!-- Magnific-Popup CSS -->
    <link rel="stylesheet" href="~/vendors/magnific-popup/magnific-popup.css" />

    <!-- Custom Stylesheets -->
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/submenu.css" />
    <link rel="stylesheet" href="~/css/responsive.css" />

</head>
<body>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Projeto_Festa_e_Glamour - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>    
    <!-- Magnific-Popup JS -->
    <script src="~/vendors/magnific-popup/jquery.magnific-popup.js"></script>
    <!-- JQuery -->
    <script src="~/vendors/jquery/jquery-3.6.0.js"></script>

    <!-- SWIPER JS -->
    <script src="~/vendors/swiper/swiper.js"></script>

    <!-- Magnific-Popup JS -->
    <script src="~/vendors/magnific-popup/jquery.magnific-popup.js"></script>

    <!-- Typed JS -->
    <script src="~/vendors/typed/typed.js"></script>

    <!-- Custom Script File -->
    <script src="~/js/script.js"></script>
    <script src="~/js/scroll-spy.js"></script>
    <script src="~/js/counter-up.js"></script>
    <script src="~/js/portfolio.js"></script>
    <script src="~/js/testi-slider.js"></script>
    <script src="~/js/blog-slider.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
